body {
    margin: 0;
    overflow: hidden;
    user-select: none;
    background: #000;
}

/* 背景模糊图（默认先用第一张） */
.bg-blur {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url("../../assets/images/main_background0.png") center/cover no-repeat;
    filter: blur(10px) brightness(.6);
    z-index: -1;
}

/* 居中容器 */
.carousel-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

/* 横向排列 */
.carousel {
    display: flex;
    gap: 80px;
    padding-left: calc((100vw - 600px) / 2);
    padding-right: calc((100vw - 600px) / 2);
    transition: transform 0.1s linear;
}

/* 单张卡片 */
.card {
    width: 600px;
    height: 300px;
    border-radius: 25px;
    border: 6px solid rgba(255,255,255,0.8);
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 15px 30px rgba(0,0,0,0.45);
    position: relative;
    transition: transform 0.25s ease;
}

.card:hover {
    transform: scale(1.05);
}

/* 卡片清晰图片 */
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 标题 */
.card-title {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    font-weight: bold;
    color: white;
    background: rgba(0,0,0,0.35);
    padding: 6px 20px;
    border-radius: 12px;
}

/* 返回按键 */
#back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    
    font-size: 20px;
    padding: 8px 18px;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 10px;

    cursor: pointer;
    z-index: 999;
    backdrop-filter: blur(5px);
    transition: 0.2s;
}

#back-btn:hover{
    background: rgba(255, 255, 255, 0.2);
}
