/*第 1 层：浏览器画布（body）
第 2 层：整页容器（#chapter-levels）
第 3 层：章节信息层（#chapter-title）
第 4 层：关卡面板层（.level-panel）
第 5 层：关卡组件层（.level-card）*/

:root {
    --panel-bg: rgba(0, 0, 0, 0.35);
    --level-bg: linear-gradient(#e0e0e0, #bdbdbd);
    --level-text: #333;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

#chapter-levels {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*控制上面的白色字*/
#chapter-title {
    margin-top: 40px;
    font-size: 48px;
    color: #ffffff;
    text-shadow: 0 4px 6px rgba(0,0,0,0.4);
}

.level-panel {
    margin-top: 40px;
    padding: 40px 50px;
    background: var(--panel-bg);
    border-radius: 20px;
}

/*这两行决定了：每个方块占 120 × 120 像素，一共 4 列 × 2 行*/
.level-grid {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 30px;
}

.level-card {
    background: var(--level-bg);
    color: var(--level-text);
    font-size: 42px;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow:
        inset 0 2px 4px rgba(255,255,255,0.6),
        0 6px 10px rgba(0,0,0,0.4);

    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.level-card:hover {
    transform: translateY(-6px);
    box-shadow:
        inset 0 2px 4px rgba(255,255,255,0.6),
        0 12px 16px rgba(0,0,0,0.45);
}

/* 返回按键 */
#back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    
    font-size: 20px;
    padding: 8px 18px;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 10px;

    cursor: pointer;
    z-index: 999;
    backdrop-filter: blur(5px);
    transition: 0.2s;
}

#back-btn:hover{
    background: rgba(255, 255, 255, 0.2);
}